/// color|1|Brand Color|0
$--color-primary: #0275d8 !default;
/// color|1|Functional Color|1
$--color-success: #5cb85c !default;
/// color|1|Functional Color|1
$--color-warning: #f0ad4e !default;
/// color|1|Functional Color|1
$--color-danger: #d9534f !default;
/// color|1|Functional Color|1
$--color-info: #0aadde !default;
/// color|1|Font Color|2
$--color-text-regular: #72777a !default;
/// color|1|Border Color|3
$--border-color-light: #dfe4ed !default;
/// color|1|Border Color|3
$--border-color-lighter: #dfe6ec !default;