.float-right {
  float: right;
}
.float-left{
  float: left;
}
.min-h-100vh{
  min-height: 100vh;
}
.d-block{
  display: block;
  width: 100%;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40,45,50); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    .m#{$space} {
      margin: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
    .p#{$space} {
      padding: #{$space}px !important;
    }
  }
}
