.main-header{
  height: $header-height - 1px;
  background-color: #fff;
  border-bottom: 1px solid #eff0f6;
  position: fixed;
  right: 0;
  top: 0;
  left: $sidebar-width;
  padding: 0 15px;
  line-height: $header-height - 1px;
  transition: all 0.28s;
  z-index: 5;
}
.sub-header{
  height: $sub-header-height;
  background-color: #fff;
  border-bottom: 1px solid #eff0f6;
  position: fixed;
  right: 0;
  top: $header-height;
  left: $sidebar-width;
  padding: 0 15px;
  line-height: $sub-header-height;
  transition: all 0.28s;
  -webkit-box-shadow: 0 10px 30px 0 rgba(82,63,105,.08);
  box-shadow: 0 10px 30px 0 rgba(82,63,105,.08);
  z-index: 5;
}
.collapse{
  .main-header,
  .sub-header
  {
    left: $collapse-sidebar-width;
    @media (max-width: 768px) {
      left: 0;
    }
  }
}
$main-p-top:$header-height + $sub-header-height;
.main-container{
  padding-top: $main-p-top;
  position: relative;
  min-height: calc(100vh - #{$main-p-top});
  .main-content{
    padding: 15px;
    min-height: 100%;
    position: relative;
  }
}