.md-table-search-wrap{
  margin-bottom: 15px;
  text-align: center;
  .el-input{
    width: 70%;
    input{
      border-radius: 20px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}
.el-table{
  thead{
    th{
      border-top: 1px solid #dfe6ec;
      background: rgb(245, 247, 250);
      color: #909399;
    }
  }
}
.el-pagination{
  text-align: center;
  margin-top: 15px;
}
.el-pagination__jump,
.el-pagination__sizes,
.el-pagination__total{
  float: left;
}
.split-pagination{
  margin-top: 15px;
}